################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DependencyInjectionDemo/DependencyInjectionDemo/obj/

/DependencyInjectionDemo/DependencyInjectionDemo/bin/